<div class="search_results_display">
  <div class="booking_results_header">
    Projects / Instruments with Booking Data
  </div>
  <table class="compliance_table">
    <thead>
      <tr style="border-top: 1px solid rgb(103, 103, 103);">
        <th>Project ID</th>
        <th>Instrument ID</th>
        <th>Instrument</th>
        <th>Number of Bookings</th>
        <th>Data File Count</th>
      </tr>
    </thead>
    <tbody>
    <?php $instrument_group_cache = $this->compliance->get_group_id_cache(); ?>

    <?php foreach($results_collection as $project_id => $booking_info): ?>
      <?php $line_class = "new_project_line"; ?>
      <?php $project_file_count = 0; ?>
      <?php $code_yellow = FALSE; ?>
      <?php foreach($booking_info as $inst_id => $info): ?>
        <?php $code_yellow = empty($info['file_count']) || $code_yellow ? TRUE : FALSE; ?>
        <?php $project_file_count += $info['file_count']; ?>
      <?php endforeach; ?>
      <?php foreach($booking_info as $inst_id => $info): ?>
      <tr class="<?= $line_class ?>">
        <?php $inst_color_class = $info['file_count'] > 0 ? " green" : " red"; ?>
        <?php if($code_yellow && $project_file_count <= 0): ?>
          <?php $color_class = " red"; ?>
        <?php elseif(!$code_yellow && $project_file_count > 0): ?>
          <?php $color_class = " green"; ?>
        <?php else: ?>
          <?php $color_class = " yellow"; ?>
        <?php endif; ?>
        <?php $project_title = $this->compliance->get_project_name($project_id); ?>
        <td class="project_id_container<?= $color_class ?>" title="<?= $project_title ?>"><?= !empty($line_class) ? $project_id : "" ?></td>
        <td class="instrument_id_container<?= $inst_color_class ?>"><?= $inst_id ?></td>
        <td><span class="instrument_name"><?= $this->compliance->get_instrument_name($inst_id); ?></span></td>
        <td><?= $info['booking_count']; ?></td>
        <td><?= $info['file_count']; ?></td>
      </tr>
      <?php $line_class = ""; ?>
      <?php endforeach; ?>
    <?php endforeach; ?>
    </tbody>
  </table>
</div>

<div class="search_results_display">
  <div class="booking_results_header">Projects with No Bookings or Data</div>
  <table class="compliance_table">
    <thead>
      <tr style="border-top: 1px solid rgb(103, 103, 103);">
        <th>Project Type</th>
        <th>Project ID</th>
        <th class="date_right">Actual Start Date</th>
        <th class="date_right">Actual End Date</th>
        <th class="date_right">Closing Date</th>
        <th class="date_right">Last Updated</th>
      </tr>
    </thead>
    <tbody>
      <?php foreach($unused_projects as $prop_entry): ?>
        <?php $sd = strtotime($prop_entry['actual_start_date']) ? new DateTime($prop_entry['actual_start_date']) : ''; ?>
        <?php $ed = strtotime($prop_entry['actual_end_date']) ? new DateTime($prop_entry['actual_end_date']) : ''; ?>
        <?php $cd = strtotime($prop_entry['closed_date']) ? new DateTime($prop_entry['closed_date']) : '&mdash; &mdash; &mdash; &mdash;'; ?>
        <?php $chd = strtotime($prop_entry['last_change_date']) ? new DateTime($prop_entry['last_change_date']) : '&mdash; &mdash; &mdash; &mdash;'; ?>
      <tr>
        <?php $pt_class = $prop_entry['project_type'] == 'emsl' ? ' class="project_type_upper"' : ' class="project_type_title"'; ?>
        <td<?= $pt_class ?>><?= $prop_entry['project_type'] ?></td>
        <td title="<?= $prop_entry['title'] ?>"><?= $prop_entry['project_id'] ?></td>
        <td class="date_right"><?= is_string($sd) ? $sd : $sd->format('F d, Y') ?></td>
        <td class="date_right"><?= is_string($ed) ? $ed : $ed->format('F d, Y') ?></td>
        <td class="date_right"><?= is_string($cd) ? $cd : $cd->format('F d, Y') ?></td>
        <td class="date_right"><?= is_string($chd) ? $chd : $chd->format('F d, Y') ?></td>
      </tr>
      <?php endforeach; ?>
    </tbody>
  </table>
</div>
