<div class="themed" id="search_boxes">
  <form id="search_terms">
    <div id="search_term_container" class="search_term_container">
      <div class="time_period_instructions">
        <h3>Select a Year and Month for the Report</h3>
      </div>
      <div class="time_period_options" style="text-align: center;">
        <select class="tp_selector" id="tp_month_selector" name="tp_month_selector" style="font-weight:bold;color:#656565;font-size:1.25em;">
          <option />
        </select>
        &nbsp;
        <select class="tp_selector" id="tp_year_selector" name="tp_year_selector" style="font-weight:bold;color:#656565;font-size:1.25em;">
          <option />
        </select>
        <input type="button" class="search_button" id="generate_report_button" name="generate_report_button" value="Generate Report" />
      </div>
    </div>
  </form>
</div>
