server {
    listen 80;
    auth_basic on;
    auth_basic_user_file /etc/nginx/.htpasswd;
    location / {
        proxy_pass http://${BACKEND_PORT_80_TCP_ADDR}:${BACKEND_PORT_80_TCP_PORT};
        proxy_set_header X-Remote-User $remote_user;
    }
}
