<?php
  $this->template_version = $this->config->item('template');
  $this->load->view("{$this->template_version}_template/view_header");
  $js = isset($js) ? $js : "";
  //$display_search = $this->router->fetch_method() == 'view' ? "" : ' style="display:none;"';
  $display_search = ' style="display:none;"';
?>

  <div id="container">
    <div id="main" class="main">
      <div class="search_bar_container" id="search_bar_container"<?= $display_search ?>>
        <form onsubmit="return FALSE;">
          <div style="position:relative;">
            <div class='magnifying_glass_icon' id='magnifying_glass_icon'>&nbsp;</div>
            <div class='clear_field_icon' id='clear_field_icon' style="display:none;">&nbsp;</div>
            <input class='object_search_box' id='object_search_box' type='text' placeholder="Search for a(n) <?= $my_object_type ?> to add to the report" />
            <input class='themed_button' id='search_done_button' name='search_done_button' disabled="disabled" type="button" value="Done"/>
          </div>
        </form>
      </div>
      <div id="search_results_display" class="search_results_display" style="display:none;">&nbsp;</div>
      <?php $this->load->view($content_view); ?>
      <?php if($this->router->fetch_method() == 'view'): ?>
      <?php $this->load->view('object_types/insert_new_group.html') ?>
      <?php endif; ?>
    </div>
  </div>
  <?php $this->load->view("{$this->template_version}_template/view_footer_short"); ?>
</div><!-- #page_content -->
<?php if(!empty($js)): ?>
<script type='text/javascript'>
//<![CDATA[
  <?= $js ?>
//]]>
</script>
<?php endif; ?>
</body>
</html>
