<div id='instrument_body_container_<?= $instrument_id ?>' class='instrument_body_container'>
  <div id='stats_graph_container_<?= $instrument_id ?>' class='stats_graph_container' style='border:thin solid red;'>
    <span id='proposal_stats_graph_<?= $instrument_id ?>' class='stats_graph'></span>
    <span id='user_stats_graph_<?= $instrument_id ?>' class='stats_graph'></span>
  </div>
  <div id='totals_container_<?= $instrument_id ?>' class='totals_container'>
    <?php $transaction_plural = $summary_totals['transaction_count'] != 1 ? "s" : ""; ?>
    <?php $file_plural = $summary_totals['total_file_count'] != 1 ? "s" : ""; ?>
    <div id='upload_totals_header_<?= $instrument_id ?>' class='stats_header'>Upload Totals</div>
    <ul id='upload_totals_<?= $instrument_id ?>' class='stats_list'>
      <li><span id='transaction_count_<?= $instrument_id ?>' class='transaction_count'><?= $summary_totals['transaction_count'] ?></span> Transaction<?= $transaction_plural ?></li>
      <li><span id='file_count_<?= $instrument_id ?>' class='file_count'><?= $summary_totals['total_file_count'] ?></span> File<?= $file_plural ?> (<span id='file_volume_<?= $instrument_id ?>' class='file_volume'><?= $summary_totals['total_size_string'] ?></span>)</li>
    </ul>
    <div id='upload_totals_header_<?= $instrument_id ?>' class='stats_header'>Transaction Statistics</div>
    <ul id='upload_stats_<?= $instrument_id ?>' class='stats_list'>
      <li>Largest Upload: <?= format_bytes($summary_totals['transaction_records']['largest_upload']['file_size']) ?></li>
      <li>Greatest Number of Files: <?= $summary_totals['transaction_records']['most_files']['file_count'] ?></li>
      
      
    </ul>
    
    
  </div>
  <script>
$(function () {
    // Make monochrome colors and set them as default for all pies
    Highcharts.getOptions().plotOptions.pie.colors = (function () {
        var colors = [],
            base = Highcharts.getOptions().colors[0],
            i;

        for (i = 0; i < 10; i += 1) {
            // Start out with a darkened base color (negative brighten), and end
            // up with a much brighter color
            colors.push(Highcharts.Color(base).brighten((i - 3) / 7).get());
        }
        return colors;
    }());

    // Build the chart
    $('#proposal_stats_graph_<?= $instrument_id ?>').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },
        series: [{
            name: 'Proposals',
            data: [
            <?php $proposal_data = array(); ?>
            <?php foreach($summary_totals['transaction_stats']['proposal'] as $proposal_id => $proposal_count): ?>
              <?php $proposal_data[] = "{ name: '{$proposal_id}', y: ".round($proposal_count / $summary_totals['transaction_count'],2)." }"; ?>
            <?php endforeach; ?>
            <?= implode(',',$proposal_data) ?>
            ]
        }]
    });
    $('#user_stats_graph_<?= $instrument_id ?>').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        tooltip: {
            pointFormat: '{point.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },
        series: [{
            name: 'By User',
            data: [
            <?php $user_data = array(); ?>
            <?php foreach($summary_totals['transaction_stats']['user'] as $person_id => $trans_count): ?>
              <?php $user_data[] = "{ name: '{$person_id}', y: ".round($trans_count / $summary_totals['transaction_count'],2)." }"; ?>
            <?php endforeach; ?>
            <?= implode(',',$user_data) ?>
            ]
        }]
    });
    
});    
  </script>
</div>
