.reporting_object_container {
  margin-bottom:2em;
}

.reporting_object_container > .object_header{
  padding: 3px 10px 3px 10px;
  font-size:1em;
  font-weight:bold;
  background-color:#999;
  color:#fff;
   border-radius: 5px 5px 0px 0px;
}

.reporting_object_container > .object_body{
  position:relative;
  padding:8px;
  padding-bottom:15px;
  font-size:1.0em;
  min-height:180px;
  border: 1px solid #ccc;
}

.reporting_object_container > .object_footer{
  border: 1px solid #ccc;
  background-color:#eee;
  border-radius: 0px 0px 5px 5px;
  padding:3px 5px 3px 5px;
  margin-top:-1px;
  position:relative;
}

.reporting_object_container .object_body_container {
  position:relative;
}

.object_body_container > .totals_container {
  position:absolute;
  top:0px;
  right:5px;
  width:auto;
  text-align:center;
}

.object_body_container > .totals_container ul{
  margin:0;
  padding:0 0.5em 0.5em 0.5em;
}

.object_body_container > .totals_container li {
  list-style:none;
  text-align:left;
}

.object_body_container .stats_header{
  font-weight:bold;
  border-bottom:1px #222 solid;
  margin-top:0.5em;
}

/*.stats_graph_container > .stats_graph {
  border:thin solid green;
}*/

.reporting_object_container .object_name_short {
  display:none;
}

.reporting_object_container .object_date_range {
  float:right;
}

@media (max-width: 960px){
  .reporting_object_container > .object_header{
    font-size:0.85em;
  }
  .stats_graph_container {
    width:100% !important;
  }
  .stats_graph {
    position:relative !important;
    width:65% !important;
    height:300px !important;
  }
}

.loading_progress_text{
  color: #444;
  font-size: 22px;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  margin-top: 2em;  
  width:100%;
}

.loading_progress_indicator{
  height:100px;
  margin-top: 2em;  
  width:100%;
}



@media (max-width: 700px){
  .reporting_object_container .object_name {
    display:none;
  }
  .reporting_object_container .object_name_short {
    display:block;
  }
  .reporting_object_container > .object_header{
    border-radius:0;
  }
  .reporting_object_container > .object_footer{
    border-radius:0;
  }
  .page_content {
    width:auto !important;
  }
  .stats_graph {
    position:relative !important;
    width:100% !important;
    height:300px !important;
  }
  .totals_container {
    width:55% !important;
    position:relative !important;
    margin-left:auto;
    margin-right:auto;
    border-bottom: 4px solid #666;
    margin-bottom:2em;
  }
  .stats_list > li {
     text-align: center !important;
  }
}


