.info_message {
  text-align: center;
  font-size: 1.75em;
  font-weight: bold;
  font-style:italic;
  color: #666;
  margin-top: 1em;
}

.info_instructions {
  margin-left:8em;
  margin-right:8em;
  font-size: 1.2em;
  color: #666;
}

.legend_description {
  margin-top:5px;
  margin-left:2.5em;
}

.remove_message{
  right: 30px;
  top:4px;
  position: absolute;
  color: white;
}

/*.form-control {
  height: auto !important;
  padding: 2px !important;
}*/
.input-sm {
  font-size: 1em;
  height:30px;
  padding: 5px 10px;
  font-size:12px;
}

.input-daterange{
  position: relative;
  display: table;
  border-collapse: separate;
}

.form-control {
  border: 1px solid #ccc;
}

.input-daterange input{
  text-align:center;
}

.input-sm.form-control{
  font-weight:bold;
  margin-left:0;
  margin-right:0;
}

.input-group-addon{
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  color: #555;
  text-align: center;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 4px
}

.input-group .form-control:not(:first-child):not(:last-child),
.input-group-addon:not(:first-child):not(:last-child),
.input-group-btn:not(:first-child):not(:last-child){
  border-radius:0;
}

.input-group .form-control,
.input-group-addon,
.input-group-btn {
  display: table-cell;
  box-sizing: border-box;
}

#search_bar_container{
  color: #fefefe;
  padding: 0.5em;
  background-color: #53692b;
  margin-top: 0;
  font-weight: normal;
  border-radius: 0px 0px 8px 8px;
  font-size: 1em;
  margin-bottom:-5px;
}

.search_bar_container input[type="text"]{
  border: 3px solid #719500;
  border-radius: 12px;
  width: 85%;
  padding: 4px 0px 5px 20px;
  transition: box-shadow 0.3s, border 0.3s;
}

.search_bar_container input[type="text"]:focus,
.search_bar_container input[type="text"].focus {
  border-color: #9cc12a;
  box-shadow: 0 0 5px 1px #969696;
  outline:none;
}

#search_results_display{
  margin: 0 auto 1em auto;
  width: 90%;
  border: 3px solid #53692b;
  border-radius: 0px 0px 8px 8px;
  /*box-shadow: 0px 3px 4px 1px #969696;*/
}


/*
  search results styling
*/
#search_results_display ul.search_results_list{
  list-style-type: none;
}

#search_results_display li{
  font-size:0.9em;
  margin-bottom:2px;
}

.search_results_header{
  font-size:1.1em;
  font-weight: bold;
  text-transform: capitalize;
}


#search_results_display input[type="checkbox"]{
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  background: #fff;
  border-radius: 2px;
  position: relative;
  margin-top:1px;
  width: 14px;
  height: 14px;
  border: 2px solid #53692b;
  vertical-align: middle;
  transition: opacity .1s linear;
}

#search_results_display input[type="checkbox"]:checked{
  /*background-color: #719500;*/
  background-image:url(/resources/images/checkbox_insert.svg);
  background-size: 10px 10px;
  background-repeat:no-repeat;
}

.no_results_notifier{
  text-align:center;
  font-weight:bold;
  font-size:1.5em;
}



h1.underline{
  border-radius:0;
  margin-bottom:0;
  padding-left:0.5em;
}

.themed_button {
  width: 80px;
  height: 26px;
  margin-left:0.5em;
  border: 3px solid #999;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1.1em;
  background-color: #efefef;
  color: #333;
  vertical-align: middle;
}
.themed_button:hover{
  background-color:#cfcfcf;
}

.themed_button:active{
  background-color:#9f9f9f;
  border-color:#555;
}

.magnifying_glass_icon {
  background-image:url(/resources/images/mag_glass@2x.png);
  background-size: 12px 12px;
  background-repeat:no-repeat;
  position: absolute;
  height: 12px;
  width: 12px;
  left: 9px;
  top: 10px;
}

.clear_field_icon {
  background-image:url(/resources/images/clear_boxes@2x.png);
  background-size: 16px 48px;
  background-repeat:no-repeat;
  position: absolute;
  height: 16px;
  width: 16px;
  right: 122px;
  top: 8px;
}

.clear_field_icon {background-position: 0px 0px;}
.clear_field_icon:hover {background-position: -0px -16px;}
.clear_field_icon:active {background-position: 0px -32px;}


.reporting_object_container {
  margin-bottom:2em;
  margin-top:2em;
}

.reporting_object_container > .object_header{
  padding: 3px 10px 3px 10px;
  font-size:1em;
  font-weight:bold;
  background-color:#999;
  color:#fff;
   border-radius: 5px 5px 0px 0px;
}

.reporting_object_container > .object_body{
  position:relative;
  padding:8px;
  padding-bottom:15px;
  font-size:1.0em;
  min-height:60px;
  border: 1px solid #ccc;
}

.reporting_object_container > .object_footer{
  font-size:0.925em;
  color:#4e4e4e;
  font-weight:bold;
  border: 1px solid #ccc;
  background-color:#eee;
  border-radius: 0px 0px 5px 5px;
  padding:3px 5px 3px 5px;
  margin-top:-1px;
  position:relative;
  height: 2.75em;
}

.reporting_object_container .object_body_container {
  position:relative;
}

.object_body_container > .transaction_details_notifier{
  text-align:center;
  font-weight:bold;
  font-size:1.05em;
  color: #444444;
  padding: 0.5em;
}

.object_body_container > .totals_container {
  position:absolute;
  top:0px;
  right:5px;
  width:auto;
  text-align:center;
}

.object_body_container > .totals_container ul{
  margin:0;
  padding:0 0.5em 0.5em 0.5em;
}

.object_body_container > .totals_container li {
  list-style:none;
  text-align:right;
}

.object_body_container .stats_header{
  font-weight:bold;
  border-bottom:1px #222 solid;
  margin-top:0.5em;
  text-align:right;
}

.remove_icon {
  background-image:url(/resources/images/remove_icons.png);
  background-size: 16px 48px;
  background-repeat:no-repeat;
  position: absolute;
  height: 16px;
  width: 16px;
  right: 6px;
  top: 5px;
}
.remove_icon {background-position: 0px 0px;}
.remove_icon:hover {background-position: -0px -16px;}
.remove_icon:active {background-position: 0px -32px;}


.disclosure_arrows {
  padding-right:13px;
  margin-left:6px;
  vertical-align:middle;
  background-image:url(/resources/images/disclosure_symbols.png);
  background-repeat: no-repeat;
  background-size: 32px 48px;
}
.dc_up {background-position: 0px 0px;}
.dc_down {background-position: -16px 0px;}
.dc_up:hover {background-position: -0px -16px;}
.dc_down:hover {background-position: -16px -16px;}
.dc_up:active {background-position: 0px -32px;}
.dc_down:active {background-position: -16px -32px;}

.transaction_details_loader{
  font-weight: bold;
  font-size: 1.1em;
  color: #fefefe;
  border: 2px solid #666;
  border-radius: 6px;
  text-align: center;
  padding: 3px 0px 3px 15px;
  width: 15%;
  margin: 0px auto;
  background-color: #769f19;
  margin-right: 0;
  margin-top: -33px;
}

.transaction_details_container{
  margin-top:0.5em;
}


.loading_progress_indicator{
}
/*.stats_graph_container > .stats_graph {
  border:thin solid green;
}*/

.stats_graph {
  min-width:250px;
  height:250px;
  width:50%;
}

.stats_graph_left {

}

.stats_graph_right {
  position:absolute;
  right:0;
  top:0;
}

.reporting_object_container .object_name_short {
  display:none;
}

.reporting_object_container .object_date_range {
  float:right;
}

.loading_new_graphics{
  opacity:0.5;
  transition: opacity .25s ease-in-out;
}


.loading_progress_text{
  color: #444;
  font-size: 22px;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  margin-top: 2em;
  width:100%;
}

.loading_progress_indicator{
  height:100px;
  margin-top: 2em;
  width:100%;
}

.time_range_container{
  padding-right:0.5em;
  text-align:right;
  position:absolute;
  right:5px;
  top:4px;
}

.message_container {
  padding-left:5px;
}

#login_id_container {
  position:absolute;
  bottom:5px;
  right:15px;
  text-align: right;
  color: #fefefe;
}



/* @2x Images (Pixel Ratio of 1.25+) */
@media only screen and (-o-min-device-pixel-ratio: 5/4),
       only screen and (-webkit-min-device-pixel-ratio: 1.25),
       only screen and (min-device-pixel-ratio: 1.25),
       only screen and (min-resolution: 1.25dppx) {
    .disclosure_arrows {background-image:url(/resources/images/disclosure_symbols@2x.png);}
    .remove_icon {background-image:url(/resources/images/remove_icons@2x.png);}
    .magnifying_glass_icon {  background-image:url(/resources/images/mag_glass@2x.png);}
    .clear_field_icon {  background-image:url(/resources/images/clear_boxes@2x.png); }
}

/* @3x Images (Pixel Ratio of 2.25+) */
@media only screen and (-o-min-device-pixel-ratio: 9/4),
       only screen and (-webkit-min-device-pixel-ratio: 2.25),
       only screen and (min-device-pixel-ratio: 2.25),
       only screen and (min-resolution: 2.25dppx) {
    .disclosure_arrows {background-image:url(/resources/images/disclosure_symbols@3x.png);}
    .remove_icon {background-image:url(/resources/images/remove_icons@3x.png);}
    .magnifying_glass_icon {  background-image:url(/resources/images/mag_glass@2x.png);}
    .clear_field_icon {  background-image:url(/resources/images/clear_boxes@3x.png); }
}


@media (max-width: 960px){
  .reporting_object_container > .object_header{
    font-size:0.85em;
  }
  .stats_graph_container {
    width:100% !important;
  }
  .stats_graph {
    position:relative !important;
    width:65% !important;
    height:300px !important;
  }
  .time_range_container {
    position:relative;
    text-align:left;
    top:auto;
    right:auto;
    padding-left:0.5em;
  }
  .message_container {
    padding-left:0.5em;
  }
  .search_bar_container input[type="text"]{
    width: 80%;
  }
}


@media (max-width: 700px){
  .reporting_object_container .object_name {
    display:none;
  }
  .reporting_object_container .object_name_short {
    display:block;
  }
  .reporting_object_container > .object_header{
    border-radius:0;
  }
  .reporting_object_container > .object_footer{
    border-radius:0;
  }
  .page_content {
    width:auto !important;
  }
  .stats_graph {
    position:relative !important;
    width:100% !important;
    height:300px !important;
  }
  .totals_container {
    width:55% !important;
    position:relative !important;
    margin-left:auto;
    margin-right:auto;
    border-bottom: 4px solid #666;
    margin-bottom:2em;
  }
  #login_id_container{
    position:relative;
    bottom:auto;
    right:auto;
    padding: 0 0 0.5em 0.5em;
    background-color:#53682B;
    font-size:0.85em;
    text-align:inherit;
    margin-bottom:1em;
  }
  .search_bar_container input[type="text"]{
    width: 75%;
  }
  .themed_button {
    font-size:0.95em;
  }
  .stats_list > li {
     text-align: center !important;
  }
}
