<?php
  $time_basis_types = array(
    'submit_time' => array('title' => "Submission Time", 'text' => "By Submission (Upload) Time"),
    //'create_time' => array('title' => "Creation Time", 'text' => "By File Creation Time"),
    'modified_time' => array('title' => "Modification Time", 'text' => "By File Modification Time")
  );
?>
<?php foreach($my_groups as $id => $group_info): ?>
  <?php $current_state = " opened"; ?>
  <?php $display_group_name = ucwords($group_info['group_type']); ?>
  <?php $clean_time_range = str_replace(' ','-',$placeholder_info[$id]['time_range']); ?>
  <div class='reporting_object_container' id="reporting_object_container_<?= $id ?>">
    <div class="object_header" style="position:relative;">
      <div class="object_name">
        <div class="disclosure_triangle<?= $current_state ?>" id="disclosure_triangle_<?= $id ?>"></div>
        <span class="container_name"><?= $display_group_name ?> Grouping - <span class="displayed_group_name"><?= $group_info['group_name'] ?></span></span>
      </div>
      <div class="object_name_short"><span class="displayed_group_name"><?= $group_info['group_name'] ?></span></div>
      <span class="container_id" id="container_id_<?= $id ?>" style="display:none;"><?= $id ?></span>
    </div>
    <div class="object_closeable" id="object_closeable_<?= $id ?>">
      <div class="object_body" id="object_body_<?= $id ?>">
      <?php if(!empty($group_info['item_list'])): ?>
        <div class="loading_blocker" id="loading_blocker_<?= $id ?>" style="display:none;"><div>Loading Updated Info...</div></div>
        <?php $this->load->view('object_types/group_body_placeholder.html',$placeholder_info[$id]); ?>
      <?php else: ?>
        <div class='info_message'>Add some members to this group and then click 'Refresh Data Pane'</div>
      <?php endif; ?>
      </div>
      <?php $closed_tag = !empty($group_info['item_list']) ? " closed" : "" ?>
      <?php $edit_display_tag = !empty($group_info['item_list']) ? ' style="display:none;"' : ""; ?>
      <div class="group_edit_section<?= $closed_tag ?>" id="group_edit_section_<?= $id ?>"<?= $edit_display_tag ?>>
        <div class="group_search_bar_container" id="group_search_bar_container_<?= $id ?>">
          <form onsubmit="return FALSE;" id="group_search_form_<?= $id ?>" class="group_search_form">
            <h4 class="group_edit_section">Edit Group Name</h4>
            <div class="group_name_edit_container" id="group_name_edit_container_<?= $id ?>">
              <input type="text" class="group_name_editor flat_right_side" id="group_name_editor_<?= $id ?>" name="group_name_editor_<?= $id ?>" placeholder="<?= $group_info['group_name'] ?>" />
              <div class="group_edit_confirm_buttons" style="display:none;">
                <div class="group_name_editor_commit change_icon_accept_reject accept" id="group_name_edit_done_button_<?= $id ?>" >&nbsp;</div>
                <div class="group_name_editor_commit change_icon_accept_reject reject" id="group_name_edit_cancel_button_<?= $id ?>" >&nbsp;</div>
              </div>
              <input type="button" id="remove_group_button_<?= $id ?>" name="remove_group_button_<?= $id ?>" class="edit_button right_side_button remove_group_button" value="Remove Group" />
            </div>
            <h4>Change <?= plural(ucwords($my_object_type)) ?> in this Group</h4>
            <div class="search_input_container">
              <div class='magnifying_glass_icon' id='magnifying_glass_icon_<?= $id ?>'>&nbsp;</div>
              <div class='clear_field_icon' id='clear_field_icon_<?= $id ?>' style="display:none;">&nbsp;</div>
              <input class='object_search_box flat_right_side' id='object_search_box_<?= $id ?>' type='text' placeholder="Search for a(n) <?= $my_object_type ?> to add to the report" />
              <input type="button" class='edit_button right_side_button refresh_data_button' id="refresh_data_display_button_<?= $id ?>" name="refresh_data_display_button_<?= $id ?>" value="Refresh Data Pane" />
              <input type="hidden" id="group_name_<?= $id ?>" name="group_name_<?= $id ?>" class="group_name" value="<?= $group_info['group_name'] ?>" />
              <input type="hidden" id="group_id_<?= $id ?>" name="group_id_<?= $id ?>" class="group_id" value="<?= $id ?>" />
              <input type="hidden" id="object_type_<?= $id ?>" name="object_type_<?= $id ?>" class="object_type" value="<?= $my_object_type ?>" />
            </div>
            <div id="search_instructions_container_<?= $id ?>" class="search_instructions_container">
            <?php
            if(empty($group_info['item_list'])){
              $this->load->view('object_types/select_some_objects_insert.html', $this->page_data);
            }
            ?>
            </div>
          </form>
        </div>
        <div id="object_search_results_container_<?= $id ?>" class="search_results_display"></div>
      </div>
      <div class="object_footer" id="object_footer_<?= $id ?>">
        <div id="edit_grouping_container_<?= $id ?>" class="edit_grouping_container">
          <input type="button" class="edit_grouping_button edit_button" id="edit_grouping_button_<?= $id ?>" name="edit_grouping_button_<?= $id ?>" value="Edit Group" />
        </div>
        <div id="message_container_footer_<?= $id ?>" class="message_container_footer"></div>
        <div id="time_basis_selector_container_<?= $id ?>" class="time_basis_selector_container">
          <select id="time_basis_selector_<?= $id ?>" name="time_basis_selector_<?= $id ?>" class="time_basis_selector" style="width:100%;">
            <?php foreach($time_basis_types as $value => $info): ?>
              <?php $selected_basis = $value == $group_info['options_list']['time_basis'] ? " selected='selected'" : ""; ?>
            <option value="<?= $value ?>" title="<?= $info['title'] ?>"<?= $selected_basis ?>><?= $info['text'] ?></option>
            <?php endforeach; ?>
          </select>
        </div>
        <div id="time_range_container_<?= $id ?>" class="time_range_container pull-right">
          <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;<span></span> <b class="caret"></b>
        </div>
      </div>
    </div>
    <div id="confirm_removal_dialog_<?= $id ?>" class="confirm_removal_dialog" title="Remove this group?" style="display:none;">
      <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>This group will be permanently deleted and cannot be recovered.<br />Are you sure?</p>
    </div>
    <script type='text/javascript'>
    //<![CDATA[
    $(function() {
      $('#time_basis_selector_<?= $id ?>').select2();
      $('.select2-search').hide();

      $('#object_search_box_<?= $id ?>').keyup(function(){
        var el = $(this);
        var cfi = el.siblings('.clear_field_icon');
        if(el.val().length !== 0){
          cfi.fadeIn('fast');
        }else{
          cfi.fadeOut('fast');
        }
      });
      $('#clear_field_icon_<?= $id ?>').click(function(){
        var input_field = $(this).siblings('.object_search_box');
        input_field.val("");
        $(this).fadeOut('fast');
        clear_results();
      });
      $('#object_search_box_<?= $id ?>').typeWatch(options);

      $('#edit_grouping_button_<?= $id ?>').click(function(event){
        var el = $(event.target);
        get_group_objects(el)
      });
      $('#group_name_editor_<?= $id ?>').keyup(function(event){
        var el = $(event.target);
        var button_container = el.siblings('.group_edit_confirm_buttons');
        if(button_container.is(":hidden") && el.val().length > 0){
          button_container.fadeIn();
        }else if(el.val().length == 0){
          button_container.hide();
        }
        if(event.keyCode == 13){
          el.next().find('.accept').click();
        }
      });

      $('#group_name_edit_container_<?= $id ?> .change_icon_accept_reject').click(function(event){
        var el = $(event.target);
        var my_field = el.parents('.group_name_edit_container').find('input[type="text"]');
        var my_group_id = parseInt(el.parents('.group_search_bar_container').find('input.group_id').val(),10);
        if(el.hasClass('accept')){
          submit_group_name_change(my_field.val(), my_group_id, my_field);
        }
        if(el.hasClass('reject')){
          my_field.val('');
          my_field.siblings('.group_edit_confirm_buttons').fadeOut('fast');
        }
      });
      // $('.time_basis_selector').select2();
      $('.select2-search').hide();
      $('#time_basis_selector_<?= $id ?>').change(function(event){
        //update the time-basis cookie
        var form_items = $(event.target)
          .parents('.reporting_object_container')
          .find('.search_input_container');
        var my_group_id = form_items.find('.group_id').val();
        var my_object_type = form_items.find('.object_type').val();
        var new_value = $(this).select2('val');
        submit_group_option_change(form_items,'time_basis',new_value);

        //reload the object guts
      });
      var remove_dialog_<?= $id ?> = $('#confirm_removal_dialog_<?= $id ?>').dialog({
        resizable:FALSE,
        autoOpen:FALSE,
        modal:true,
        width:350,
        buttons: {
          "Delete Group" : function(){
            var my_container = $('#reporting_object_container_<?= $id ?>');
            var url = base_url + 'ajax/remove_group/<?= $id ?>';
            var getter = $.get(url, function(data){
              my_container.remove();
            });
            getter.fail(function(jqXHR, textStatus, errorThrown){
              alert("An error occurred before the group could be deleted.<br />" + textStatus);
            });
            $(this).dialog("close");
          },
          "Cancel" : function() {
            $(this).dialog("close");
          }
        }
      })

      $('#remove_group_button_<?= $id ?>').click(function(event){
        remove_dialog_<?= $id ?>.dialog('open');
      });

      $('#refresh_data_display_button_<?= $id ?>').click(function(event){
        var el = $(event.target);
        var my_container = el.parents('.reporting_object_container');
        var group_id = parseInt(my_container.find('.search_input_container > .group_id').val(),10);
        load_group_results(object_type,group_id);
      });

      $('#disclosure_triangle_<?= $id ?>').click(function(event){
        var el = $(event.target);
        var current_state = el.hasClass('opened') ? 'open' : 'closed';
        var closeable = el.parents('.reporting_object_container').find('.object_closeable');
        var header_block = el.parents('.object_header');
        if(current_state == 'open'){
          closeable.slideUp(250);
          el.removeClass('opened').addClass('closed');
          header_block.addClass('closed');
        }else{
          closeable.slideDown(250);
          el.removeClass('closed').addClass('opened');
          header_block.removeClass('closed');
        }
      });





      function cb(start, end) {
        $('#time_range_container_<?= $id ?> span').html(start.format('MM/DD/YYYY') + ' - ' + end.format('MM/DD/YYYY'));
        var tl_obj = $('#object_timeline_<?= $id ?>').highcharts();
        var start_timestamp = start.toDate().getTime();
        var end_timestamp = end.toDate().getTime();

        if(tl_obj){
          if(timeline_load_new_data_check(tl_obj,start_timestamp,end_timestamp)){
            load_new_group_timeline_data(tl_obj, object_type,'<?= $id ?>',start.format('YYYY-MM-DD'),end.format('YYYY-MM-DD'));
          }else{
            tl_obj.xAxis[0].update({
              min: start_timestamp,
              max: end_timestamp
            });
          }
        }
      }
      cb(moment(correctTZ(new Date('<?= $placeholder_info[$id]['times']['start_time_object']->format('Y-m-d'); ?>'))), moment(correctTZ(new Date('<?= $placeholder_info[$id]['times']['end_time_object']->format('Y-m-d'); ?>'))));

      $('#time_range_container_<?= $id ?>').daterangepicker({
        parentEl: '#object_footer_<?= $id ?>',
        minDate: '<?= $placeholder_info[$id]['times']['earliest_available_object']->format('m/d/Y'); ?>',
        maxDate: '<?= $placeholder_info[$id]['times']['latest_available_object']->format('m/d/Y'); ?>',
        startDate: '<?= $placeholder_info[$id]['times']['start_time_object']->format('m/d/Y'); ?>',
        endDate: '<?= $placeholder_info[$id]['times']['end_time_object']->format('m/d/Y'); ?>',
        autoUpdateInput: true,
        linkedCalendars:FALSE,
        drops:'up',
        ranges: {
          'Last 7 Days': [moment().subtract(6, 'days'), moment()],
          'Last 30 Days': [moment().subtract(29, 'days'), moment()],
          'Last 3 Months': [moment().subtract(3, 'months'), moment()],
          'Last 6 Months': [moment().subtract(6, 'months'), moment()],
          'Last Year': [moment().subtract(12, 'months'), moment()],
        }
      }, cb);

      $('#time_range_container_<?= $id ?>').on('apply.daterangepicker', function(event, picker){
        //look at the dates and upload the changes
        var update_url = base_url + 'ajax/change_group_option/<?= $id ?>';
        var update_list = {};
        if(picker.oldStartDate != picker.startDate){
          update_list = {
            'option_type' : 'start_time',
            'option_value' : picker.startDate.format('YYYY-MM-DD HH:mm:ss')
          };
          var posterStart = $.post(update_url, JSON.stringify(update_list));
        }

        if(picker.oldEndDate != picker.endDate){
          update_list = {
            'option_type' : 'end_time',
            'option_value' : picker.endDate.format('YYYY-MM-DD HH:mm:ss')
          };
          var posterEnd = $.post(update_url, JSON.stringify(update_list));
        }
      });

    });
    //]]>
    </script>
  </div>
<?php endforeach; ?>
