<?php extract($transaction_info); ?>
<div class="object_timeline" id="object_timeline_<?= $group_id ?>">&nbsp;</div>
<script type="text/javascript">
var transaction_list_<?= $group_id ?> = <?= json_encode($day_graph['by_date']['transactions_by_day']) ?>;
var current_transaction_list_<?= $group_id ?> = [];
var time_line_options_<?= $group_id ?> = {
  chart: {
    events: {
      redraw: function () {
        var new_extremes = this.series[0].xAxis.getExtremes();
        var userMin = new_extremes.userMin != undefined ? new_extremes.userMin : new_extremes.min;
        var userMax = new_extremes.userMax != undefined ? new_extremes.userMax : new_extremes.max;
        var time_basis_<?= $group_id ?> = $('#time_basis_selector_<?= $group_id ?>').val();
        var details_notifier = $('#transaction_details_notifier_<?= $group_id ?>');
        var details_container = $('#transaction_details_container_<?= $group_id ?>');
        var new_start = moment(new Date(userMin).setHours(0,0,0)).format('YYYY-MM-DD');
        var new_end = moment(new Date(userMax).setHours(23,59,59)).format('YYYY-MM-DD');
        $('#graph_loading_blocker_<?= $group_id ?>').spin().show();
        current_transaction_list_<?= $group_id ?> = get_transaction_list_for_date_range(this,new_start,new_end, transaction_list_<?= $group_id ?>);
        var url = base_url + 'group/get_reporting_info_list_no_timeline/<?= $object_type ?>/<?= $group_id ?>/' + time_basis_<?= $group_id ?> + '/custom/';
        url += new_start + '/' + new_end;
        $('#stats_graph_container_<?= $group_id ?> .stats_graph').addClass('loading_new_graphics');
        var getter = $.get(url);
        getter.done(function(data,status){
          if(details_notifier.find('.disclosure_arrows').hasClass('dc_down')){
            //switch arrow state
            details_notifier.find('.disclosure_arrows').removeClass('dc_down').addClass('dc_up');
          }
          details_container.html('');
          //update the date pickers
          $('#pie_scripts_container_<?= $group_id ?>').html(data);
          $('#stats_graph_container_<?= $group_id ?> .stats_graph').removeClass('loading_new_graphics');
          $('#graph_loading_blocker_<?= $group_id ?>').spin(false).hide();
        });
      }
    }
  },
  series: [{
    name: 'File Volume',
    type: 'spline',
    lineWidth: 2,
    yAxis: 1,
    tooltip: {
      pointFormatter: function() {
        return humanFileSize(this.y);
      }
    },
    data: <?= json_encode(array_values($day_graph_info['file_volume_array'])); ?>
  },{
    name: 'Upload Count',
    type: 'column',
    color: 'rgba(67,67,67,0.50)',
    data: <?= json_encode(array_values($day_graph_info['transaction_count_array'])); ?>
  }]
};

$(function () {
  current_transaction_list_<?= $group_id ?> = get_transaction_list_for_date_range(this, false, false, transaction_list_<?= $group_id ?>);
  var timeline_chart_<?= $group_id ?> = $('#object_timeline_<?= $group_id ?>').highcharts($.extend(true, {}, hc_timeline_options,time_line_options_<?= $group_id ?>));
});
</script>
