<?php
  if(isset($transaction_info)){
    extract($transaction_info);
    $keys = array_keys($day_graph['by_date']);
    $earliest_date = array_shift($keys);
    $last_date = array_pop($keys);
    //$day_graph_info = day_graph_to_series($day_graph);
    $this->page_data['day_graph_info'] = $day_graph['by_date'];
  }
?>
<div id="object_body_container_<?= $group_id ?>" class="object_body_container">
    <script>
    //<![CDATA[
    var earliest_loaded_<?= $group_id ?> = '<?= $times['start_date'] ?>';
    var latest_loaded_<?= $group_id ?> = '<?= $times['end_date'] ?>';
    //]]>
    </script>

  <?php if(isset($summary_totals)): ?>
  <div id="totals_container_<?= $group_id ?>" class="totals_container" style='vertical-align: middle;z-index:10;'>
    <?php $file_plural = $summary_totals['total_file_count'] != 1 ? "s" : ""; ?>
    <div id='upload_totals_header_<?= $group_id ?>' class='stats_header'>Upload Totals</div>
    <ul id='upload_totals_<?= $group_id ?>' class='stats_list'>
      <li><span id='file_count_<?= $group_id ?>' class='file_count'><?= $summary_totals['total_file_count'] ?></span> File<?= $file_plural ?> (<span id='file_volume_<?= $group_id ?>' class='file_volume'><?= $summary_totals['total_size_string'] ?></span>)</li>
    </ul>
    <div id="contained_objects_header_<?= $group_id ?>" class="stats_header"><?= ucwords(plural($object_type)) ?> in this group</div>
    <?php $processed_obj_list = array_chunk($object_id_list,3); ?>
    <?php $processed_obj_list_strings = array();
          foreach($processed_obj_list as $line){
            $processed_obj_list_strings[] = implode(', ',$line);
          }
    ?>
    <p><?= implode('<br />',$processed_obj_list_strings) ?></p>
  </div>
  <div id='stats_graph_container_<?= $group_id ?>' class='stats_graph_container' style='position:relative;width:85%;'>
      <div class="loading_blocker" id="graph_loading_blocker_<?= $group_id ?>" style="display:none;"><div>Loading Updated Info...</div></div>
      <div id='proposal_stats_graph_<?= $group_id ?>' class='stats_graph stats_graph_3_across stats_graph_left'></div>
      <div id='instrument_stats_graph_<?= $group_id ?>' class='stats_graph stats_graph_3_across stats_graph_center'></div>
      <div id='user_stats_graph_<?= $group_id ?>' class='stats_graph stats_graph_3_across stats_graph_right'></div>
  </div>
  <div id="new_times_<?= $group_id ?>" style="display:none;">
    <span id="new_start_time_<?= $group_id ?>"><time datetime="<?= $times['start_date'] ?>"><?= $times['start_date_object']->format('n/j/Y') ?></time></span>
    <span id="new_end_time_<?= $group_id ?>"><time datetime="<?= $times['end_date'] ?>"><?= $times['end_date_object']->format('n/j/Y') ?></time></span>
  </div>
  <div id="pie_scripts_container_<?= $group_id ?>">
    <?php $this->load->view('object_types/group_pie_scripts_insert.html', $this->page_data); ?>
  </div>
  <div id="legend_description_<?= $group_id ?>" class="legend_description" style="min-height:20px;"></div>
  <div id="timeline_script_container_<?= $group_id ?>">
    <?php $this->load->view('object_types/group_timeline_script_insert.html', $this->page_data); ?>
  </div>
  <div id="transaction_details_notifier_<?= $group_id ?>" class="transaction_details_notifier">
    Transaction Details
    <span id="disclosure_arrow_<?= $group_id ?>_right" class="disclosure_arrows dc_up">&nbsp;</span>
  </div>
  <div id="transaction_details_loader_<?= $group_id ?>" class="transaction_details_loader" style="position:relative;display:none;">
    <div id="details_loading_progress_indicator_<?= $group_id ?>" class="details_loading_indicator">Loading...</div>
  </div>
  <div id="transaction_details_container_<?= $group_id ?>" class="transaction_details_container" style="display:none;"></div>
  <div id="dialog-confirm"></div>
  <script>
  //<![CDATA[
  $(function(){





        function cb(start, end) {
          $('#time_range_container_<?= $group_id ?> span').html(start.format('MM/DD/YYYY') + ' - ' + end.format('MM/DD/YYYY'));
          var tl_obj = $('#object_timeline_<?= $group_id ?>').highcharts();
          var start_timestamp = start.toDate().getTime();
          var end_timestamp = end.toDate().getTime();

          if(tl_obj){
            if(timeline_load_new_data_check(tl_obj,start_timestamp,end_timestamp)){
              load_new_group_timeline_data(tl_obj, object_type,'<?= $group_id ?>',start.format('YYYY-MM-DD'),end.format('YYYY-MM-DD'));
            }else{
              tl_obj.xAxis[0].update({
                min: start_timestamp,
                max: end_timestamp
              });
            }
          }
        }
        cb(moment(correctTZ(new Date('<?= $times['start_date_object']->format('Y-m-d'); ?>'))), moment(correctTZ(new Date('<?= $times['end_date_object']->format('Y-m-d'); ?>'))));

        $('#time_range_container_<?= $group_id ?>').daterangepicker({
          parentEl: '#object_footer_<?= $group_id ?>',
          minDate: '<?= $times['earliest_available_object']->format('m/d/Y'); ?>',
          maxDate: '<?= $times['latest_available_object']->format('m/d/Y'); ?>',
          startDate: '<?= $times['start_date_object']->format('m/d/Y'); ?>',
          endDate: '<?= $times['end_date_object']->format('m/d/Y'); ?>',
          autoUpdateInput: true,
          linkedCalendars:false,
          ranges: {
            'Last 7 Days': [moment().startOf('day').subtract(6, 'days'), moment().endOf('day')],
            'Last 30 Days': [moment().startOf('day').subtract(1, 'months'), moment().endOf('day')],
            'Last 3 Months': [moment().startOf('day').subtract(3, 'months'), moment().endOf('day')],
            'Last 6 Months': [moment().startOf('day').subtract(6, 'months'), moment().endOf('day')],
            'Last Year': [moment().startOf('day').subtract(12, 'months'), moment().endOf('day')],
            'All Available': [
                moment('<?= $times['earliest_available_object']->format('Y-m-d'); ?>').startOf('day'),
                moment('<?= $times['latest_available_object']->format('Y-m-d'); ?>').endOf('day')
            ]
          }
        }, cb);

        $('#time_range_container_<?= $group_id ?>').on('apply.daterangepicker', function(event, picker){
          //look at the dates and upload the changes
          var update_url = base_url + 'ajax/change_group_option/<?= $group_id ?>';
          var update_list = {};
          if(picker.oldStartDate != picker.startDate){
            update_list = {
              'option_type' : 'start_time',
              'option_value' : picker.startDate.format('YYYY-MM-DD HH:mm:ss')
            };
            $(this).parents('.reporting_object_container').find('.start_time').val(
                picker.startDate.format('YYYY-MM-DD')
            );
            var posterStart = $.post(update_url, JSON.stringify(update_list));
          }

          if(picker.oldEndDate != picker.endDate){
            update_list = {
              'option_type' : 'end_time',
              'option_value' : picker.endDate.format('YYYY-MM-DD HH:mm:ss')
            };
            $(this).parents('.reporting_object_container').find('.end_time').val(
                picker.endDate.format('YYYY-MM-DD')
            );
            var posterEnd = $.post(update_url, JSON.stringify(update_list));
          }
        });

  });
  //]]>
  </script>

  <?php else: ?>
  <div class='info_message'><?= $results_message ?></div>
  <?php endif; ?>
</div>
