<div class='reporting_object_container' id="add_new_group_container" style="text-align:center;">
  <input type="button" class="new_group_instructions" id="create_new_group_button" value="Add a New <?= ucwords($my_object_type) ?> Grouping" />
  <div class="group_edit_section_new" id="group_edit_section_new" style="min-height:100px;display:none;">
    <h4>Create a New <?= ucwords($my_object_type) ?> Grouping</h4>
    <div class="group_name_edit_container group_search_bar_container group_search_bar_container_new" id="group_name_edit_container_new">
      <input type="text" class="group_name_editor" id="group_name_editor_new" name="group_name_editor_new" placeholder="What do you want to call your new group?" />
      <div class="group_edit_confirm_buttons" style="display:none;">
        <div class="group_name_editor_commit change_icon_accept_reject reject" id="group_name_edit_cancel_button_new" >&nbsp;</div>
      </div>
    </div>
    <div class="add_new_group_button_container">
      <input type="button" class="edit_button" id="add_new_group_button" name="add_new_group_button" value="Create Group" />
      <input type="button" class="edit_button" id="cancel_add_new_group_button" name="cancel_add_new_group_button" value="Cancel" />
    </div>
  </div>
  <script type="text/javascript">
  //<![CDATA[
  $(function(){
    var container = $('#group_edit_section_new');
    var create_button = $('#add_new_group_button');
    var cancel_button = $('#cancel_add_new_group_button');
    var name_box = $('#group_name_editor_new');

    $('#create_new_group_button').click(function(event){
      var el = $(event.target);
      el.fadeOut();
      $('#main_add_info_container').fadeOut();
      // el.parents('.reporting_object_container').prev('.info_container').fadeOut();
      container.fadeIn();
      name_box.focus();
    });
    cancel_button.click(function(event){
      container.fadeOut();
      $('#group_name_editor_new').val("");
      $('.group_edit_confirm_buttons').hide();
      $('#create_new_group_button').fadeIn();
    })
    create_button.click(function(event){
      var group_name = $('#group_name_editor_new').val();
      make_new_group_entry(group_name,$(event.target));
    });
    create_button.disable();
    $('#group_name_editor_new').keyup(function(event){
      var el = $(event.target);
      if(el.val().length > 0){
        create_button.enable();
        if(event.keyCode == 13){
          create_button.click();
        }
      }else{
        create_button.disable();
      }
    });
  });
  //]]>
  </script>
</div>
