<?php 
  extract($transaction_info);
  $keys = array_keys($day_graph['by_date']);
  $earliest_date = array_shift($keys);
  $last_date = array_pop($keys);
  $day_graph_info = day_graph_to_series($day_graph); 
?>
<div id='instrument_body_container_<?= $instrument_id ?>' class='object_body_container'>
  <?php if(isset($summary_totals)): ?>
  <div id='totals_container_<?= $instrument_id ?>' class='totals_container' style='vertical-align: middle;'>
    <?php $transaction_plural = $summary_totals['transaction_count'] != 1 ? "s" : ""; ?>
    <?php $file_plural = $summary_totals['total_file_count'] != 1 ? "s" : ""; ?>
    <div id='upload_totals_header_<?= $instrument_id ?>' class='stats_header'>Upload Totals</div>
    <ul id='upload_totals_<?= $instrument_id ?>' class='stats_list'>
      <li><span id='transaction_count_<?= $instrument_id ?>' class='transaction_count'><?= $summary_totals['transaction_count'] ?></span> Transaction<?= $transaction_plural ?></li>
      <li><span id='file_count_<?= $instrument_id ?>' class='file_count'><?= $summary_totals['total_file_count'] ?></span> File<?= $file_plural ?> (<span id='file_volume_<?= $instrument_id ?>' class='file_volume'><?= $summary_totals['total_size_string'] ?></span>)</li>
    </ul>
    <div id='upload_totals_header_<?= $instrument_id ?>' class='stats_header'>Transaction Statistics</div>
    <ul id='upload_stats_<?= $instrument_id ?>' class='stats_list'>
      <li>Largest Upload: <?= format_bytes($summary_totals['transaction_records']['largest_upload']['file_size']) ?></li>
      <li>Greatest Number of Files: <?= $summary_totals['transaction_records']['most_files']['file_count'] ?></li> 
    </ul>
  </div>
  <div id='stats_graph_container_<?= $instrument_id ?>' class='stats_graph_container' style='position:relative;width:75%;'>
    <div id='proposal_stats_graph_<?= $instrument_id ?>' class='stats_graph stats_graph_left' style="min-width:250px;height:250px;width:50%;"></div>
    <div id='user_stats_graph_<?= $instrument_id ?>' class='stats_graph stats_graph_right' style="min-width:250px;height:250px;width:50%;position:absolute;right:0;top:0;"></div>
  </div>
  <div id="new_times_<?= $instrument_id ?>" style="display_none;">
    <span id="new_start_time_<?= $instrument_id ?>"><time datetime="<?= $times['start_date'] ?>"><?= $times['start_date_object']->format('n/j/Y') ?></time></span>
    <span id="new_end_time_<?= $instrument_id ?>"><time datetime="<?= $times['end_date'] ?>"><?= $times['end_date_object']->format('n/j/Y') ?></time></span>
  </div>
  <script>

function humanFileSize(size) {
    if (size == 0) { return "0"; }
    var i = Math.floor( Math.log(size) / Math.log(1024) );
    return ( size / Math.pow(1000, i) ).toFixed(2) * 1 + ' ' + ['B', 'kB', 'MB', 'GB', 'TB'][i];
};
    
$(function () {
    // Make monochrome colors and set them as default for all pies
    Highcharts.getOptions().plotOptions.pie.colors = (function () {
        var colors = [],
            // base = Highcharts.getOptions().colors[2],
            base = '#81aa00',
            i;
        for (i = 0; i < 10; i += 1) {
            // Start out with a darkened base color (negative brighten), and end
            // up with a much brighter color
            colors.push(Highcharts.Color(base).brighten((i - 3) / 7).get());
        }
        return colors;
    }());
    
    Highcharts.getOptions().plotOptions.spline.colors = (function () {
        var colors = [],
            // base = Highcharts.getOptions().colors[2],
            base = '#81aa00',
            i;
        for (i = 0; i < 10; i += 1) {
            // Start out with a darkened base color (negative brighten), and end
            // up with a much brighter color
            colors.push(Highcharts.Color(base).brighten((i - 3) / 7).get());
        }
        return colors;
    }());
    
    Highcharts.setOptions({
      lang: {
        thousandsSep: ""
      }
    });

    
    $('span#start_time_<?= $instrument_id ?> > time').replaceWith($('span#new_start_time_<?= $instrument_id ?> > time'));
    $('span#end_time_<?= $instrument_id ?> > time').replaceWith($('span#new_end_time_<?= $instrument_id ?> > time'));
    $('#message_container_<?= $instrument_id ?>').html('<?= $results_message ?>');
    // Build the chart
    var proposal_chart_<?= $instrument_id ?> = $('#proposal_stats_graph_<?= $instrument_id ?>').highcharts({
      credits: false,
      chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        spacing: [10,0,0,0],
        style: {
          fontFamily: '"Helvetica Neue", Helvetica, Arial, sans-serif',
          fontSize: '12px'
        },            
        type: 'pie'
      },
      title: {
        text: 'Uploads By Proposal',
        style: {'fontSize':'13px','fontWeight':'bold'}
      },
      legend: {
        layout: 'vertical',
        align:'right',
        margin:'2'
      },
      tooltip: {
        pointFormat: 'Proposal {point.name}: <b>{point.percentage:.1f}%</b>',
        headerFormat: '<span style="font-size: 10px">{series.name}</span><br/>'
      },
      plotOptions: {
        pie: {
          allowPointSelect: true,
          cursor: 'pointer',
          dataLabels: {
            enabled: false,
            floating:true
          },
          center: [100, 80],
          showInLegend: true
        }
      },
      series: [{
        name: 'Uploads',
        <?php
        $proposal_data = array();
        foreach($summary_totals['transaction_stats']['proposal'] as $proposal_id => $proposal_count){
          $proposal_Data[] = array('name' => $proposal_id, 'y' => round($proposal_count / $summary_totals['transaction_count'],2));
        }
        ?>  
        data: <?= json_encode($proposal_Data); ?>
      }]
    });
    
    var user_chart_<?= $instrument_id ?> = $('#user_stats_graph_<?= $instrument_id ?>').highcharts({
      credits: false,
      chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        spacing: [10,0,0,0],
        style: {
          fontFamily: '"Helvetica Neue", Helvetica, Arial, sans-serif',
          fontSize: '12px'
        },
        type: 'pie'
      },
      title: {
        text: 'Uploads By User',
        style: {'fontSize':'13px','fontWeight':'bold'}
      },
      legend: {
        layout: 'vertical',
        align:'right',
        margin:'2'
      },
      tooltip: {
        pointFormat: '{point.name}: <b>{point.percentage:.1f}%</b>',
        headerFormat: '<span style="font-size: 10px">{series.name}</span><br/>'
      },
      plotOptions: {
        pie: {
          allowPointSelect: true,
          cursor: 'pointer',
          dataLabels: {
            enabled: false,
            floating: true
          },
          center: [100,80],
          showInLegend: true
        }
      },
      series: [{
        name: 'Uploads',
        <?php
        $user_data = array();
        foreach($summary_totals['transaction_stats']['user'] as $person_id => $trans_count){
          $user_info = $this->eus->get_name_from_eus_id($person_id);
          $user_data[] = array('name' => $user_info['display_name'], 'y' => round($trans_count / $summary_totals['transaction_count'],2));
        }
        ?>  
        data: <?= json_encode($user_data); ?>
      }]
    });
    
    var timeline_chart_<?= $instrument_id ?> = $('#object_timeline_<?= $instrument_id ?>').highcharts({
      credits: false,
      chart: {
        style: {
          fontFamily: '"Helvetica Neue", Helvetica, Arial, sans-serif',
          fontSize: '12px'
        },
        zoomType: 'x',
        events: {
          redraw: function () {

          }
        },
        type: 'column'

      },
      title: {
        text: ''
      },      
      legend: {
        enabled: false
      },
      tooltip: {
        pointFormat: '<strong>{point.name} {point.y}{valueSuffix}</strong>',
        headerFormat: '<span style="font-size: 10px">{series.name}</span><br/>'
      },
      plotOptions: {
        series: {
          marker: {
            enabled: false
          }
        }
      },
      xAxis: {
        type: 'datetime',
        labels: {
          formatter: function() {
            return moment(this.value).format("ddd M/D/YYYY");
          },
          rotation: -45
        },
        tickInterval: 24 * 3600 * 1000
      },
      yAxis: [{ //transaction count axis
        title: {
          text: 'Number of Uploads',
          style: {
            color: Highcharts.getOptions().colors[1]
          }
        },
        labels: {
          style: {
            color: Highcharts.getOptions().colors[1]
          }
        }
      },{ //volume axis
        title: {
          text: 'File Volume (MB)',
          style: {
            color: Highcharts.getOptions().colors[0]
          }
        },
        labels: {
          formatter: function() {
            return humanFileSize(this.value);
          },
          style: {
            color: Highcharts.getOptions().colors[0]
          }
        },
        opposite:true
      }],
      // tooltip: {}
      series: [{
        name: 'File Volume',
        type: 'spline',
        lineWidth: 2,
        yAxis: 1,
        tooltip: {
          pointFormatter: function() {
            return humanFileSize(this.y);
          }
        },
        data: <?= json_encode(array_values($day_graph_info['file_volume_array'])); ?>
      },{
        name: 'Upload Count',
        type: 'column',
        color: 'rgba(67,67,67,0.50)',
        data: <?= json_encode(array_values($day_graph_info['transaction_count_array'])); ?>
      }]
    });
    
});    
  </script>
  <?php else: ?>
  <div><?= $results_message ?></div>
  <?php endif; ?>
</div>
