<?php extract($transaction_info); ?>
<script type="text/javascript">
  $(function () {
      $('#message_container_<?= $object_id ?>').html('<?= $results_message ?>');
      $('#transaction_count_<?= $object_id ?>').html('<?= $summary_totals["transaction_count"] ?>');
      $('#file_count_<?= $object_id ?>').html('<?= $summary_totals["total_file_count"] ?>');
      $('#file_volume_<?= $object_id ?>').html('<?= $summary_totals["total_size_string"] ?>');
      my_transactions_<?= $object_id ?> = <?= json_encode(array_keys($transactions)); ?>;
      $('#transaction_details_notifier_<?= $object_id ?>').click(function(){
        get_transaction_info(this, my_transactions_<?= $object_id ?>);
      });
      // Build the chart

      <?php if($object_type != 'proposal'): ?>
        <?php
        $proposal_data = array();
        foreach($summary_totals['transaction_stats']['proposal'] as $proposal_id => $proposal_count){
          $proposal_data[] = array('name' => $proposal_id, 'y' => round($proposal_count / $summary_totals['transaction_count'],2));
          $proposal_name = $this->eus->get_proposal_name($proposal_id);
          $proposal_lookup[$proposal_id] = $proposal_name;
        }
        ?>

        var proposal_options_<?= $object_id ?> = {
          chart: {
            events: {
              load: function () {
                var chart = this,
                legend = chart.legend;
                for (var i = 0, len = legend.allItems.length; i < len; i++) {
                  (function(i) {
                    var item = legend.allItems[i].legendItem;
                    item.on('mouseover', function (e) {
                      var item_info = proposal_lookup_<?= $object_id ?>[e.target.textContent];
                      $(e.target).parents('.object_body_container').find('.legend_description').html(item_info);
                    }).on('mouseout', function (e) {
                      $(e.target).parents('.object_body_container').find('.legend_description').html('');
                    });
                  })(i);
                }
              }
            }
          },
          title: {
            text: 'Uploads by Proposal',
          },
          tooltip: {
            pointFormat: 'Proposal {point.name}: <b>{point.percentage:.1f}%</b>'
          },
          plotOptions: {
            series: {
              animation: <?= $include_timeline ? "true" : "FALSE" ?>,
              point: {
                events: {
                  mouseOver: function () {
                    var item_info = proposal_lookup_<?= $object_id ?>[this.options.name];
                    $(event.target).parents('.object_body_container').find('.legend_description').html(item_info);
                  },
                  mouseOut: function () {
                    $(event.target).parents('.object_body_container').find('.legend_description').html('');
                  }
                }
              }
            }
          },
          series: [{
            data: <?= json_encode($proposal_data); ?>
          }]
        };
        var proposal_chart_<?= $object_id ?> = $('#proposal_stats_graph_<?= $object_id ?>').highcharts($.extend(true, {}, hc_pie_options,proposal_options_<?= $object_id ?>));
      <?php endif; ?>

      <?php if($object_type != 'user'): ?>
        <?php
        $user_data = array();
        foreach($summary_totals['transaction_stats']['user'] as $person_id => $trans_count){
          $user_info = $this->eus->get_name_from_eus_id($person_id);
          $user_data[] = array('name' => $user_info['display_name'], 'y' => round($trans_count / $summary_totals['transaction_count'],2));
        }
        ?>

        var user_options_<?= $object_id ?> = {
          title: {
            text: 'Uploads By User',
          },
          tooltip: {
            pointFormat: '{point.name}: <b>{point.percentage:.1f}%</b>',
          },
          plotOptions: {
            series: {
              animation: <?= $include_timeline ? "true" : "FALSE" ?>
            },
          },
          series: [{
            data: <?= json_encode($user_data); ?>
          }]
        };

        var user_chart_<?= $object_id ?> = $('#user_stats_graph_<?= $object_id ?>').highcharts($.extend(true, {}, hc_pie_options,user_options_<?= $object_id ?>));
      <?php endif; ?>

      <?php if($object_type != 'instrument'): ?>
      <?php
      $instrument_data = array();
      foreach($summary_totals['transaction_stats']['instrument'] as $instrument_id => $trans_count){
        $instrument_info = $this->eus->get_instrument_name($instrument_id);
        $instrument_lookup[$instrument_id] = $instrument_info;
        $instrument_data[] = array('name' => $instrument_id, 'y' => round($trans_count / $summary_totals['transaction_count'],2));
      }
      ?>

      var inst_options_<?= $object_id ?> = {
        chart: {
          events: {
            load: function () {
              var chart = this,
              legend = chart.legend;
              for (var i = 0, len = legend.allItems.length; i < len; i++) {
                (function(i) {
                  var item = legend.allItems[i].legendItem;
                  item.on('mouseover', function (e) {
                    var item_info = instrument_lookup_<?= $object_id ?>[e.target.textContent];
                    $(e.target).parents('.object_body_container').find('.legend_description').html(item_info['display_name']);
                  }).on('mouseout', function (e) {
                    $(e.target).parents('.object_body_container').find('.legend_description').html('');
                  });
                })(i);
              }
            }
          }
        },
        title: {
          text: 'Uploads By Instrument',
        },
        tooltip: {
          pointFormat: '{point.name}: <b>{point.percentage:.1f}%</b>',
        },
        plotOptions: {
          series: {
            animation: <?= $include_timeline ? "true" : "FALSE" ?>,
            point: {
              events: {
                mouseOver: function () {
                  var item_info = instrument_lookup_<?= $object_id ?>[this.options.name];
                  $(event.target).parents('.object_body_container').find('.legend_description').html(item_info['display_name']);
                },
                mouseOut: function () {
                  $(event.target).parents('.object_body_container').find('.legend_description').html('');
                }
              }
            }
          }
        },
        series: [{
          data: <?= json_encode($instrument_data); ?>
        }]
      };


      var instrument_chart_<?= $object_id ?> = $('#instrument_stats_graph_<?= $object_id ?>').highcharts($.extend(true, {}, hc_pie_options,inst_options_<?= $object_id ?>));
    <?php endif; ?>
  });
  <?php if(isset($instrument_lookup)):?>
  var instrument_lookup_<?= $object_id ?> = <?= json_encode($instrument_lookup); ?>;
  <?php endif; ?>
  <?php if(isset($proposal_lookup)): ?>
  var proposal_lookup_<?= $object_id ?> = <?= json_encode($proposal_lookup); ?>;
  <?php endif; ?>
</script>
