<?php foreach($my_objects as $id => $item_info): ?>
<div class='reporting_object_container'>
  <div class="object_header" style="position:relative;">
    <div class="object_name"><?= $item_info['display_name'] ?></div>
    <div class="object_name_short"><?= $item_info['abbreviation'] ?></div>
    <div class="remove_message" style="display:none;">Remove this <?= $my_object_type ?> from my list</div>
    <div class="remove_icon" title="Click to remove <?= $my_object_type ?> from this report" id="remove_icon_<?= $id ?>"></div>
    <div class="remove_confirmation_dialog" id="remove_confirmation_dialog_<?= $id ?>"></div>
    <span class="container_id" id="container_id_<?= $id ?>" style="display:none;"><?= $id ?></span>
    <span class="remove_dialog_message" style="display:none;">Really remove this <?= $my_object_type ?>?</span>
  </div>

  <div class="object_body" id="object_body_<?= $id ?>">
    <?php $transaction_info[$id]['id'] = $id; ?>
    <?php $this->load->view('object_types/object_body_placeholder.html',$placeholder_info[$id]); ?>
  </div>
  <div class="object_footer">
    <div id="time_range_container_<?= $id ?>" class="time_range_container">
      <div class="input-daterange input-group" id="datepicker_<?= $id ?>">
        <input type="text" class="input-sm form-control" name="start" id="start_time_<?= $id ?>" value="<?= $placeholder_info[$id]['times']['start_time_object']->format('n/j/Y'); ?>"/>
        <span class="input-group-addon">to</span>
        <input type="text" class="input-sm form-control" name="end" id="end_time_<?= $id ?>" value="<?= $placeholder_info[$id]['times']['end_time_object']->format('n/j/Y'); ?>"/>
      </div>
    </div>
  </div>
</div>
<script type='text/javascript'>
//<![CDATA[
$('#time_range_container_<?= $id ?> .input-daterange').bootstrapDP({
  orientation: "auto right",
  toggleActive: true,
  clearBtn: true,
  todayBtn: "linked"
})
$('#start_time_<?= $id ?>').bootstrapDP()
.on('changeDate',function(e){
  var new_d = $(this).bootstrapDP('getDate').getTime();
  var tl_obj = $('#object_timeline_<?= $id ?>').highcharts();
  tl_obj.xAxis[0].update({ min : new_d });
});
$('#start_time_<?= $id ?>').bootstrapDP('setStartDate', moment('<?= $placeholder_info[$id]['times']['earliest_available_object']->format('c'); ?>').toDate());
$('#start_time_<?= $id ?>').bootstrapDP('setEndDate', moment('<?= $placeholder_info[$id]['times']['latest_available_object']->format('c'); ?>').toDate());
// $('#start_time_<?= $id ?>').bootstrapDP('update',moment('<?= $placeholder_info[$id]['times']['start_time_object']->format('c'); ?>').toDate());

$('#end_time_<?= $id ?>').bootstrapDP()
.on('changeDate',function(e){
  var new_d = $(this).bootstrapDP('getDate').getTime();
  var tl_obj = $('#object_timeline_<?= $id ?>').highcharts();
  if(timeline_load_new_data_check(tl_obj)){
    //
  }else{
    tl_obj.xAxis[0].update({ max : new_d });
  }
});
$('#end_time_<?= $id ?>').bootstrapDP('setStartDate', moment('<?= $placeholder_info[$id]['times']['earliest_available_object']->format('c'); ?>').toDate());
$('#end_time_<?= $id ?>').bootstrapDP('setEndDate', moment('<?= $placeholder_info[$id]['times']['latest_available_object']->format('c'); ?>').toDate());
// $('#end_time_<?= $id ?>').bootstrapDP('update',moment('<?= $placeholder_info[$id]['times']['end_time_object']->format('c'); ?>').toDate());

//]]>
</script>
<?php endforeach; ?>
