<?php foreach($my_objects as $id => $item_info): ?>
<div class='reporting_object_container'>
  <div class="object_header" style="position:relative;">
    <div class="object_name"><?= $item_info['display_name'] ?></div>
    <div class="object_name_short"><?= $item_info['abbreviation'] ?></div>
    <div class="remove_message" style="display:none;">Remove this <?= $my_object_type ?> from my list</div>
    <div class="remove_icon" title="Click to remove <?= $my_object_type ?> from this report" id="remove_icon_<?= $id ?>"></div>
    <div class="remove_confirmation_dialog" id="remove_confirmation_dialog_<?= $id ?>"></div>
    <span class="container_id" id="container_id_<?= $id ?>" style="display:none;"><?= $id ?></span>
    <span class="remove_dialog_message" style="display:none;">Really remove this <?= $my_object_type ?>?</span>
  </div>

  <div class="object_body" id="object_body_<?= $id ?>">
    <?php $transaction_info[$id]['id'] = $id; ?>
    <?php $this->load->view('object_types/object_body_placeholder.html',$placeholder_info[$id]); ?>
  </div>
  <div class="object_footer">
    <div id="time_range_container_<?= $id ?>" class="time_range_container">
      <div class="input-daterange input-group" id="datepicker_<?= $id ?>">
        <input type="text" class="input-sm form-control" name="start" value="<?= $placeholder_info[$id]['times']['start_time_object']->format('n/j/Y'); ?>"/>
        <span class="input-group-addon">to</span>
        <input type="text" class="input-sm form-control" name="end" value="<?= $placeholder_info[$id]['times']['end_time_object']->format('n/j/Y'); ?>"/>
      </div>
    </div>
  </div>
</div>
<?php endforeach; ?>
<script type='text/javascript'>
//<![CDATA[
$('#time_range_container_<?= $id ?> .input-daterange').bootstrapDP({
  startDate: '<?= $placeholder_info[$id]['times']['start_time_object']->format('Y-m-d'); ?>',
  endDate: '<?= $placeholder_info[$id]['times']['end_time_object']->format('Y-m-d'); ?>',
  orientation: "auto right",
  toggleActive: true,
  clearBtn: true,
  todayBrn: "linked"
})
//]]>
</script>
