<?php foreach($my_objects as $id => $item_info): ?>
<div class='reporting_object_container' id="reporting_object_container_<?= $id ?>">
  <div class="object_header" style="position:relative;">
    <div class="object_name"><?= $item_info['display_name'] ?></div>
    <div class="object_name_short"><?= $item_info['abbreviation'] ?></div>
    <div class="remove_message" style="display:none;">Remove this <?= $my_object_type ?> from my list</div>
    <div class="remove_icon" title="Click to remove <?= $my_object_type ?> from this report" id="remove_icon_<?= $id ?>"></div>
    <div class="remove_confirmation_dialog" id="remove_confirmation_dialog_<?= $id ?>"></div>
    <span class="container_id" id="container_id_<?= $id ?>" style="display:none;"><?= $id ?></span>
    <span class="remove_dialog_message" style="display:none;">Really remove this <?= $my_object_type ?>?</span>
  </div>

  <div class="object_body" id="object_body_<?= $id ?>">
    <?php $transaction_info[$id]['id'] = $id; ?>
    <?php $this->load->view('object_types/object_body_placeholder.html',$placeholder_info[$id]); ?>
  </div>
  <div class="object_footer" id="object_body_<?= $id ?>">
    <div id="edit_grouping_container_<?= $id ?>" class="edit_grouping_container">
      <input type="button" class="edit_grouping_button edit_button" id="edit_grouping_button_<?= $id ?>" name="edit_grouping_button_<?= $id ?>" value="Edit Group" />
    </div>
    <div id="message_container_footer_<?= $id ?>" class="message_container_footer"></div>
    <div id="time_basis_selector_container_<?= $id ?>" class="time_basis_selector_container" style="width:25%;">
      <select id="time_basis_selector_<?= $id ?>" name="time_basis_selector_<?= $id ?>" class="time_basis_selector" style="width:100%;">
        <?php foreach($time_basis_types as $value => $info): ?>
          <?php $selected_basis = $value == $group_info['options_list']['time_basis'] ? " selected='selected'" : ""; ?>
        <option value="<?= $value ?>" title="<?= $info['title'] ?>"<?= $selected_basis ?>><?= $info['text'] ?></option>
        <?php endforeach; ?>
      </select>
    </div>
    <div id="time_range_container_<?= $id ?>" class="time_range_container pull-right">
      <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;<span></span> <b class="caret"></b>
    </div>
  </div>
</div>
<script type='text/javascript'>
//<![CDATA[
$(function() {

    function cb(start, end) {
        $('#time_range_container_<?= $id ?> span').html(start.format('MM/DD/YYYY') + ' - ' + end.format('MM/DD/YYYY'));
        var tl_obj = $('#object_timeline_<?= $id ?>').highcharts();
        var start_timestamp = start.toDate().getTime();
        var end_timestamp = end.toDate().getTime();
        if(tl_obj){
          if(timeline_load_new_data_check(tl_obj,start_timestamp,end_timestamp)){
            load_new_timeline_data(tl_obj, object_type,'<?= $id ?>',start.format('YYYY-MM-DD'),end.format('YYYY-MM-DD'));
          }else{
            tl_obj.xAxis[0].update({
              min: start_timestamp,
              max: end_timestamp
            });
          }
        }
    }
    cb(moment(correctTZ(new Date('<?= $placeholder_info[$id]['times']['start_time_object']->format('Y-m-d'); ?>'))), moment(correctTZ(new Date('<?= $placeholder_info[$id]['times']['end_time_object']->format('Y-m-d'); ?>'))));

    $('#time_range_container_<?= $id ?>').daterangepicker({
        parentEl: '#object_footer_<?= $id ?>',
        minDate: '<?= $placeholder_info[$id]['times']['earliest_available_object']->format('m/d/Y'); ?>',
        maxDate: '<?= $placeholder_info[$id]['times']['latest_available_object']->format('m/d/Y'); ?>',
        startDate: '<?= $placeholder_info[$id]['times']['start_time_object']->format('m/d/Y'); ?>',
        endDate: '<?= $placeholder_info[$id]['times']['end_time_object']->format('m/d/Y'); ?>',
        autoUpdateInput: true,
        linkedCalendars:false,
        ranges: {
           'Last 7 Days': [moment().subtract(6, 'days'), moment()],
           'Last 30 Days': [moment().subtract(29, 'days'), moment()],
           'Last 3 Months': [moment().subtract(3, 'months'), moment()],
           'Last 6 Months': [moment().subtract(6, 'months'), moment()],
           'Last Year': [moment().subtract(12, 'months'), moment()],
        }
    }, cb);

});
//]]>
</script>
<?php endforeach; ?>
