<div class="form_container">
  <table>
    <thead>
    <tr>
      <th>Upload ID</th>
      <th>Upload Time</th>
      <th>File Date(s)</th>
      <th>Proposal ID</th>
      <th>Instrument ID</th>
      <th>Uploaded By</th>
      <th>Bundle Size</th>
      <th>File Count</th>
    </tr>
    </thead>
    <tbody>
      <?php foreach($transaction_info as $id => $item): ?>
      <?php
      $ul_time = new DateTime($item['submission_time']);
      $ul_latest_mod = new DateTime($item['latest_modified_time']);
      $ul_earliest_mod = new DateTime($item['earliest_modified_time']);
      $ul_mod_string = $ul_latest_mod->format('m/d/Y') != $ul_earliest_mod->format('m/d/Y') ?
       "{$ul_earliest_mod->format('m/d/Y')}&ndash;{$ul_latest_mod->format('m/d/Y')}" :
       $ul_earliest_mod->format('m/d/Y');
      $ul_user_info = $this->eus->get_name_from_eus_id($item['eus_person_id']);
      $ul_user = $ul_user_info['display_name'];
      $friendly_file_size = format_bytes($item['total_file_size']);
      ?>
      <tr>
        <td><a href="/myemsl/status/index.php/status/view/t/<?= $id ?>" target="_blank"><?= $id ?></a></td>
        <td><?= $ul_time->format('m/d/Y g:ia') ?></td>
        <td><?= $ul_mod_string ?></td>
        <td><?= array_key_exists('eus_proposal_id',$item) && !empty($item['eus_proposal_id']) ? $item['eus_proposal_id'] : "N/A" ?></td>
        <td><?= array_key_exists('eus_instrument_id',$item) && !empty($item['eus_instrument_id']) ? $item['eus_instrument_id'] : "N/A" ?></td>
        <td><?= $ul_user ?></td>
        <td><?= $friendly_file_size ?></td>
        <td><?= $item['total_file_count'] ?></td>
      </tr>
      <?php endforeach; ?>
    </tbody>
  </table>
</div>
